<%= marketplace_commission.display_amount %>
(<%= number_to_percentage(marketplace_commission.rate) %>)

<% if marketplace_commission.discounted? %>
  <span class="text-muted small d-block">
    <%= Spree.t(:original_rate) %>:
    <%= number_to_percentage(marketplace_commission.rate) %>
  </span>
<% end %>

<% if marketplace_commission.discounted? %>
  <span class="text-muted small d-block">
    <%= Spree.t(:discount) %>:
    <%= marketplace_commission.display_discount %>
  </span>
<% end %>
